{% extends 'base.html' %}
{% block content %}
{% if messages %}
<div class="form-floating mb-3">
    {% for message in messages %}
    <div class="alert alert-info-{{ message.tags }}" role="alert"
         style="z-index:1000 !important ; background-color:white !important ; margin-bottom:60px !important; --bs-alert-padding-x: 0.rem !important;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                onclick="window.location.href='{% url 'password_change_view' %}';"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="vstack gap-2 col-md-5" style="margin-top:60px !important;">
    <div class="sticky-xl-top">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h1 class="display-3">Change Password</h1>
            </blockquote>
        </figure>
    </div>
    <form method="POST" action="{% url 'password_change_view' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="password" name="old_password" class="form-control" id="floatingInput" placeholder="123"
                   required>
            <label for="floatingInput">Old Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="new_password" class="form-control" id="floatingPassword" placeholder="Password"
                   required>
            <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password_confirm" class="form-control" id="1floatingPassword" placeholder="Password"
                   required>
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-primary mt-4" type="submit">Change Password</button>
        </div>
                <div class="d-grid  mx-auto">
            <p style="font-size:13px; margin-top:10px;">Your new password character count must be between 8 and 20.</p>
        </div>


    </form>

</div>
{% endblock %}

